.container-fluid {
	padding: 0;
}

.masthead {
	width: 95%;
	margin-top: 120px;
	margin-bottom: 150px;
}

.buytickets {
	width: 125%;
	margin-top: 90px;
	margin-left: -90px;
}

.titleImageContainer {
	height: 130px;
	padding-top: 70px;
}

.titleImage {
	height: 60px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.speakerRow {
	text-transform: uppercase;
	font-size: 18pt;
}

.luchanaut {
   -webkit-animation: float 2s ease-in-out infinite alternate;
   animation: float 2s ease-in-out infinite alternate;
   position: absolute;
   left: 0px;
   top: 250px;
}

.luchanaut2 {
   -webkit-animation: float 1s ease-in-out infinite alternate;
   animation: float 4s ease-in-out infinite alternate;
   position: absolute;
   right: 0px;
   top: 310px;
}

.luchanaut3 {
   -webkit-animation: float 1s ease-in-out infinite alternate;
   animation: float 6s ease-in-out infinite alternate;
   width: 130%;
   margin-left: -30px;
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
      -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    height: 100%;
}
.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    height: 100%;
}
.parallax__layer--objects {
    -webkit-transform: translateZ(-100px) scale(1);
    transform: translateZ(-100px) scale(1);
    height: 100%;
}

.stars {
    background: transparent url("/images/2016/stars_background.png") repeat;
    background-size: 80%;
    height: 2000px;
    opacity: 0.5;
}

.stars-deep {
    background: transparent url("/images/2016/stars_background.png") repeat;
    background-size: 70%;
    height: 1400px;
    opacity: 0.5;
}

@keyframes float {
	0% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.asteroid1 {
    width: 450px;
    height: auto;
    margin-top: -350px;
    margin-left: -50px;
}

.asteroid2 {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 1000px;
    top: 400px;
}

.swirl1 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -50px;
    top: 200px;
}

.swirl2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
    top: 2000px;
}

.planet1 {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 360px;
    left: 38%;
}

.shuttle3 {
    width: 60px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 65%;
}

.alien1 {
    width: 160px;
    height: auto;
    position: absolute;
    right: 190px;
    top: 460px;
}

@media (max-width: 768px) {
	// stuff to show/hide on phones
	body {
		font-size: 14pt;
		line-height: 15pt;
	}

	.masthead {
		margin: 60px auto 0 10px;
		width: 100%;
		display: block;
	}
	.titleImage {
		height: 30px;
	}
	.buytickets {
		margin: 50px 0 0 -30px;
		width: 130%;
		display: block;
	}
	.space-object {
		max-width: 20%;
	}
	.stars, .stars-deep {
		background-size: 200%;
	}
}

@media(min-width:768px){
	// stuff to show on not-phones
	.luchanaut {
		width: 400px;
	}
	.luchanaut2 {
		width: 300px;
	}
	.stars, .stars-deep {
		background-size: 150%;
	}
}
@media(min-width:992px){
	.luchanaut {
		width: 550px;
	}
	.luchanaut2 {
		width: 400px;
	}
}
@media(min-width:1200px){
	.stars, .stars-deep {
		background-size: 90%;
	}
}
