body {
	background-color: @background2016;
	color: @bodyText;
}

p {
    font-size: 1.3em;
}

.navbar-default {
    background-color: #000000;
}

.navbar-default .navbar-nav, .navbar-default .navbar-brand {
    color: @menuText;
    font-weight: bold;
    font-size: 1.2em;

    >.active {
        >a {
            color: @menuText;
        }
    }
    >li>a {
        color: @menuText;
    }
}

@media (min-width: 768px) {
    .navbar {
        .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }
            .navbar-collapse {
            text-align: center;
        }
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

