body {
	background-color: @background2016;
	color: @bodyText;
}

p {
    font-size: 1.3em;
}

#menu {
	position: absolute;
	top: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    z-index:9998;
    opacity: .45;
    height: 100px;
    width: 100%;
    background: url('../images/header-bg.png') repeat-x;
    color: @menuText;

    ul {
        margin: 0;
        padding: 0;

        width: 900px;
        margin: 3px auto 0 auto;
    }

    li {
        font-size: 1.5em;
        list-style: none;
        display: inline;
        padding-right: 50px;
    }

    a {
        font-size: 1.5em;
        padding-left: 15px;
        padding-right: 15px;

        .large {
            font-size: 24px;
        }
    }
}

a {
    color: @menuText;
    text-decoration: none;

    &:hover, &:active {
        color: @menuTextActive;
    }

    &.selected {
        color: @menuTextActive;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

