

@media screen and (max-width: 48em) {

	#menu {
		a {
			padding: 0;
		}

		ul {
			margin: 0 0 0 50px;
			width: auto;
		}
	}

    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }

    .lunchBox {
	    .large {
	    	font-size: 1.5em;
	    }

	    .extraLarge {
	    	font-size: 2em;
	    }

	    .huge {
	    	font-size: 2.5em;
	    }
	}
}

