@import "//cdn.jsdelivr.net/pure/0.5.0/pure-min.css";
@import "Lunchbox.css";
.lunchBox-bold {
  font-family: LunchBox-Bold;
  font-weight: normal;
  font-style: normal;
}
.lunchBox {
  font-family: LunchBox;
  font-weight: normal;
  font-style: normal;
}
.lunchBox .large {
  font-size: 3em;
}
.lunchBox .extraLarge {
  font-size: 4em;
}
.lunchBox .huge {
  font-size: 4em;
}
.oswald {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
.oswald .large {
  font-size: 3em;
}
.oswald .extraLarge {
  font-size: 4em;
}
.oswald .huge {
  font-size: 4em;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: normal;
}
body {
  background-color: #35267B;
  color: #dbd3eb;
  font-size: 24pt;
  line-height: 26pt;
}
.parallax__layer--base,
.parallax__layer--objects {
  max-width: 1500px;
  margin: 0 auto;
}
.navbar-default {
  background-color: rgba(37, 27, 86, 0.8);
  border: none;
  font-size: 0.8em;
}
.navbar-default .navbar-nav,
.navbar-default .navbar-default .navbar-brand {
  color: #FC008B;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-default .navbar-brand > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-brand > .active > a {
  color: #FC008B;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-default .navbar-brand > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-default .navbar-brand > .active > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-default .navbar-brand > li > a:active,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-default .navbar-brand > .active > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-default .navbar-brand > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-default .navbar-brand > .active > a:focus {
  color: #dbd3eb;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-fluid {
  padding: 0;
}
.masthead {
  width: 95%;
  margin-top: 120px;
  margin-bottom: 150px;
}
.buytickets {
  width: 125%;
  margin-top: 90px;
  margin-left: -90px;
}
.titleImageContainer {
  height: 130px;
  padding-top: 70px;
  margin-bottom: 30px;
}
.titleImage {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.speaker-row {
  text-transform: uppercase;
  font-size: 18pt;
}
.speaker-row .speaker-box {
  text-align: center;
}
.speaker-row .speaker-box > img {
  width: 150px;
  height: auto;
}
.sponsor-row .cm-sponsor-box {
  height: 120px;
  text-align: center;
}
.sponsor-row .cm-sponsor-box img {
  display: inline-block;
  vertical-align: middle;
}
.sponsor-row .cm-sponsor-box:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.tickets-box table {
  width: 100%;
  font-size: 18pt;
}
.tickets-box table thead tr td {
  padding-bottom: 15px;
}
.tickets-box table td {
  width: 25%;
  padding: 10px;
}
.tickets-box table p {
  margin: 0;
  line-height: 20pt;
}
.tickets-box table .ticket-row-odd td {
  background: #5D4D78;
}
.tickets-box table .ticket-row-even td {
  color: #002E46;
  background: #DBD3EB;
}
.luchanaut {
  -webkit-animation: float 2s ease-in-out infinite alternate;
  animation: float 2s ease-in-out infinite alternate;
  position: absolute;
  left: 0px;
  top: 250px;
}
.luchanaut2 {
  -webkit-animation: float 1s ease-in-out infinite alternate;
  animation: float 4s ease-in-out infinite alternate;
  position: absolute;
  right: 0px;
  top: 310px;
}
.luchanaut3 {
  -webkit-animation: float 1s ease-in-out infinite alternate;
  animation: float 6s ease-in-out infinite alternate;
  width: 130%;
  margin-left: -30px;
}
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  height: 100%;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  height: 100%;
}
.parallax__layer--objects {
  -webkit-transform: translateZ(-100px) scale(1);
  transform: translateZ(-100px) scale(1);
  height: 100%;
}
.stars {
  background: transparent url("/images/2016/stars_background.png") repeat;
  background-size: 80%;
  height: 2000px;
  opacity: 0.5;
}
.stars-deep {
  background: transparent url("/images/2016/stars_background.png") repeat;
  background-size: 70%;
  height: 1400px;
  opacity: 0.5;
}
@keyframes float {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.asteroid1 {
  width: 450px;
  height: auto;
  margin-top: -350px;
  margin-left: -50px;
}
.asteroid2 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 1000px;
  top: 400px;
}
.swirl1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -50px;
  top: 200px;
}
.swirl2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 2000px;
}
.planet1 {
  width: 270px;
  height: 200px;
  position: absolute;
  top: 360px;
  left: 38%;
}
.shuttle3 {
  width: 60px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 65%;
}
.alien1 {
  width: 160px;
  height: auto;
  position: absolute;
  right: 190px;
  top: 460px;
}
.alien3,
.shuttle4 {
  width: 100%;
  height: auto;
  margin-top: -70px;
}
.luchanaut4 {
  width: 100%;
  margin-top: -20px;
  margin-bottom: -50px;
  height: auto;
}
.shuttle1 {
  width: 70%;
  margin-top: 0px;
  margin-bottom: -50px;
}
.skull {
  width: 120%;
  margin-top: 1900px;
  margin-left: -120px;
}
@media (max-width: 768px) {
  body {
    font-size: 14pt;
    line-height: 15pt;
  }
  .titleImageContainer {
    height: 90px;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .tickets-box p {
    margin-left: 10px;
  }
  .tickets-box table {
    margin: 0 auto;
    width: 95%;
  }
  .tickets-box table td {
    font-size: 13pt;
    line-height: 14pt;
  }
  .masthead {
    margin: 60px auto 0 10px;
    width: 100%;
    display: block;
  }
  .titleImage {
    height: 30px;
  }
  .buytickets {
    margin: -50px auto 0 auto;
    width: 100%;
    display: block;
  }
  .space-object {
    max-width: 20%;
  }
  .skull {
    margin-top: 1700px;
    margin-left: -25px;
  }
  .shuttle4,
  .shuttle1 {
    margin-top: 10px;
  }
  .sponsor-row .cm-sponsor-box {
    height: 80px;
  }
  .sponsor-row .cm-sponsor-box img {
    height: auto;
    width: 200px;
  }
  .stars,
  .stars-deep {
    background-size: 200%;
  }
}
@media (min-width: 768px) {
  .luchanaut {
    width: 400px;
  }
  .luchanaut2 {
    width: 300px;
  }
  .stars,
  .stars-deep {
    background-size: 150%;
  }
}
@media (min-width: 992px) {
  .luchanaut {
    width: 550px;
  }
  .luchanaut2 {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .stars,
  .stars-deep {
    background-size: 90%;
  }
}
.centerStage {
  margin: 0 20%;
}
.breathingSpace {
  margin-top: 45px;
}
#codemania-anti-harassment-policy {
  margin-top: 70px;
  text-align: center;
}
@media screen and (max-width: 48em) {
  #menu a {
    padding: 0;
  }
  #menu ul {
    margin: 0 0 0 50px;
    width: auto;
  }
  img {
    width: 90%;
  }
  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .lunchBox .large {
    font-size: 1.5em;
  }
  .lunchBox .extraLarge {
    font-size: 2em;
  }
  .lunchBox .huge {
    font-size: 2.5em;
  }
  .asteroid {
    visibility: hidden;
  }
}
