@import "//cdn.jsdelivr.net/pure/0.5.0/pure-min.css";
@import "Lunchbox.css";
.lunchBox-bold {
  font-family: LunchBox-Bold;
  font-weight: normal;
  font-style: normal;
}
.lunchBox {
  font-family: LunchBox;
  font-weight: normal;
  font-style: normal;
}
.lunchBox .large {
  font-size: 3em;
}
.lunchBox .extraLarge {
  font-size: 4em;
}
.lunchBox .huge {
  font-size: 4em;
}
.oswald {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
.oswald .large {
  font-size: 3em;
}
.oswald .extraLarge {
  font-size: 4em;
}
.oswald .huge {
  font-size: 4em;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #35267B;
  color: #FC008B;
}
p {
  font-size: 1.3em;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav,
.navbar-default .navbar-default .navbar-brand {
  color: #FC008B;
  font-weight: bold;
  font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-default .navbar-brand > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-brand > .active > a {
  color: #FC008B;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-default .navbar-brand > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-default .navbar-brand > .active > a:hover {
  color: #ffdb0a;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-fluid {
  padding: 0;
}
.masthead {
  width: 95%;
  margin-top: 70px;
}
.buytickets {
  width: 125%;
  margin-top: 50px;
  margin-left: -90px;
}
.luchanaut {
  -webkit-animation: float 2s ease-in-out infinite alternate;
  animation: float 2s ease-in-out infinite alternate;
  position: absolute;
  left: 0px;
  top: 200px;
}
.luchanaut2 {
  -webkit-animation: float 1s ease-in-out infinite alternate;
  animation: float 4s ease-in-out infinite alternate;
  position: absolute;
  right: 0px;
  top: 280px;
}
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  height: 100%;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  height: 100%;
}
.parallax__layer--objects {
  -webkit-transform: translateZ(-100px) scale(1);
  transform: translateZ(-100px) scale(1);
  height: 100%;
}
.stars {
  background: transparent url("/images/2016/stars_background.png") repeat;
  background-size: 80%;
  height: 2000px;
  opacity: 0.5;
}
.stars-deep {
  background: transparent url("/images/2016/stars_background.png") repeat;
  background-size: 70%;
  height: 1400px;
  opacity: 0.5;
}
@keyframes float {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.asteroid1 {
  width: 500px;
  height: 500px;
  margin-top: -350px;
}
.asteroid2 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 1000px;
  top: 400px;
}
.swirl1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -50px;
  top: 200px;
}
.swirl2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 2000px;
}
.planet1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
}
@media (max-width: 768px) {
  .masthead {
    margin: 60px auto 0 10px;
    width: 100%;
    display: block;
  }
  .buytickets {
    margin: 50px 0 0 -30px;
    width: 130%;
    display: block;
  }
  .space-object {
    max-width: 20%;
  }
  .stars,
  .stars-deep {
    background-size: 200%;
  }
}
@media (min-width: 768px) {
  .luchanaut {
    width: 400px;
  }
  .luchanaut2 {
    width: 300px;
  }
  .stars,
  .stars-deep {
    background-size: 150%;
  }
}
@media (min-width: 992px) {
  .luchanaut {
    width: 500px;
  }
  .luchanaut2 {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .stars,
  .stars-deep {
    background-size: 90%;
  }
}
.centerStage {
  margin: 0 20%;
}
.breathingSpace {
  margin-top: 45px;
}
@media screen and (max-width: 48em) {
  #menu a {
    padding: 0;
  }
  #menu ul {
    margin: 0 0 0 50px;
    width: auto;
  }
  img {
    width: 90%;
  }
  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .lunchBox .large {
    font-size: 1.5em;
  }
  .lunchBox .extraLarge {
    font-size: 2em;
  }
  .lunchBox .huge {
    font-size: 2.5em;
  }
  .asteroid {
    visibility: hidden;
  }
}
