@import "//cdn.jsdelivr.net/pure/0.5.0/pure-min.css";
@import "Lunchbox.css";
.lunchBox-bold {
  font-family: LunchBox-Bold;
  font-weight: normal;
  font-style: normal;
}
.lunchBox {
  font-family: LunchBox;
  font-weight: normal;
  font-style: normal;
}
.lunchBox .large {
  font-size: 3em;
}
.lunchBox .extraLarge {
  font-size: 4em;
}
.lunchBox .huge {
  font-size: 4em;
}
body {
  background: #324346;
  background: -moz-linear-gradient(top, #324346 0%, #676186 45%, #676186 55%, #324346 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #324346), color-stop(45%, #676186), color-stop(55%, #676186), color-stop(100%, #324346));
  background: -webkit-linear-gradient(top, #324346 0%, #676186 45%, #676186 55%, #324346 100%);
  background: -o-linear-gradient(top, #324346 0%, #676186 45%, #676186 55%, #324346 100%);
  background: -ms-linear-gradient(top, #324346 0%, #676186 45%, #676186 55%, #324346 100%);
  background: linear-gradient(to bottom, #324346 0%, #676186 45%, #676186 55%, #324346 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#324346', endColorstr='#324346', GradientType=0);
  color: #002d45;
  margin: 125px 0 0 0;
}
p {
  font-size: 1.3em;
}
#menu {
  position: absolute;
  top: 0px;
  right: 0px;
  position: fixed;
  text-align: center;
  z-index: 9998;
  opacity: .95;
  height: 100px;
  width: 100%;
  background: url('../images/header-bg.png') repeat-x;
  color: #92b6b0;
}
#menu ul {
  margin: 0;
  padding: 0;
  width: 900px;
  margin: 3px auto 0 auto;
}
#menu li {
  font-size: 1.5em;
  list-style: none;
  display: inline;
  padding-right: 50px;
}
#menu a {
  font-size: 1.5em;
  padding-left: 15px;
  padding-right: 15px;
}
#menu a .large {
  font-size: 24px;
}
a {
  color: #92b6b0;
  text-decoration: none;
}
a:hover,
a:active {
  color: #ffdb0a;
}
a.selected {
  color: #ffdb0a;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.luchanaut {
  position: relative;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.announcementText {
  color: white;
  font-size: 3em;
}
.centerStage {
  margin: 0 20%;
}
.breathingSpace {
  margin-top: 45px;
}
@media screen and (max-width: 48em) {
  #menu a {
    padding: 0;
  }
  #menu ul {
    margin: 0 0 0 50px;
    width: auto;
  }
  img {
    width: 90%;
  }
  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .lunchBox .large {
    font-size: 1.5em;
  }
  .lunchBox .extraLarge {
    font-size: 2em;
  }
  .lunchBox .huge {
    font-size: 2.5em;
  }
}
