.lunchBox-bold { 
    font-family: LunchBox-Bold;
    font-weight: normal;
    font-style: normal;
}

.lunchBox { 
    font-family: LunchBox;
    font-weight: normal;
    font-style: normal;

    .large {
    	font-size: 3em;
    }

    .huge {
    	font-size: 4em;
    }
}
