<!DOCTYPE html5>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="description" content="Codemania - New Zealand&#39;s premier developer conference" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="Codemania 2016">
<meta property="og:site_name" content="Codemania 2016">
<meta property="og:url" content="http://codemania.io">
<meta property="og:description" content="Codemania is New Zealand's premier conference for software developers. Come along and learn from the best of the best.">
<meta property="fb:app_id" content="">
<meta property="og:type" content="business.business">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen" />

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body class="oswald-light basic-content-page">
	<nav class="navbar navbar-default navbar-fixed-top oswald" id="nav">
		<div class="center-block">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-codemania-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar "></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-codemania-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">HOME</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

<div id="mainBody" class="container-fluid">
	{{ content }}
	</div>

    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/scripts/main.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-258894-6', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>