<!DOCTYPE html5>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="description" content="Codemania - New Zealand&#39;s premier developer conference" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen" />
</head>
<body class="lunchBox">

	<div id="mainBody">
		{{ content }}
	</div>

	<div id="menu">
		<ul class="nav">
			<li>
				<a id="topLink" href="/" class="navLink">HOME</a>
			</li>
		</ul>
	</div>

    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
</body>